body{
background-color:linen;
background-image:url("file:///home/Sem6B10/Desktop/source.gif");
background-repeat:repeat-x;
background-attachment:scroll;
}
h1,h2{
color:blue;
margin-left:40px;
}
p.x{
text-shadow:4px 4px yellow;
text-decoration:blink;
font-weight:bold;
color:red;
font-family: courier;
font-size: 200%;
font-style:italic;
font-family:georgia,garmond;
text-indent:5cm;
}
p.y{
text-shadow:4px 4px  4px yellow;
text-transform:capitalize;
direction:rtl;
letter-spacing:5px;
font-weight:bolder;
color:green;
font-size: 200%;
font-style:italic;
font-family:georgia,garmond;
}


p.x
{
        opacity:0.5;
}
p.x:hover
{
        opacity:1;
}


p.z:hover
{
              -webkit-transform: rotateZ(+30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}
p.y:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

p.z{
text-shadow:4px 4px  4px blue;
text-decoration:underline;
text-align:center;
font-weight:bold;
color:red;
font-family: courier;
font-size: 900%;
font-style:italic;
font-family:georgia,garmond;
text-indent:5cm;
}
img:hover {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      height: 600px;
      border:2px dashed red;
      box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
	opacity:0.4;
    }

